<mat-card>
  <mat-card-title>
    New Product
  </mat-card-title>
  <form>
    <mat-form-field>
      <input required
      matInput 
      name="name" 
      placeholder="Name" 
      [(ngModel)]="product.name">
    </mat-form-field>
    <mat-form-field>
      <input required
      matInput 
      name="price" 
      placeholder="$ Price" 
      [(ngModel)]="product.price">
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button (click)="createProduct()" color="accent">
      Create
    </button>
  
    <button mat-raised-button (click)="cancel()" color="warn">
      Cancel
    </button>
  </div>
</mat-card>